@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    Background-Color: RGB(240,250,3260);
}

h1, h2 {
    text-align: center;
}

p {
  font-family: verdana;
}

img {
    margin-bottom: 40px;
    display: block;
}

a {
    color: green;
    font-size: 20p;
}

#navigation {
    float: right;
    margin-left: 800px;
}
